* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: fixed;
}

nav {
    width: 80%;
    margin: auto;

    a {
        img {}
    }

}

.collapse {
    justify-content: flex-end;
    font-size: 12px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

#businesstheme {
    background-image: url(/assets/img/slide-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

    .businessthemecontainer {
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        margin: 30px;

        .businesstext {
            padding: 20px;
            margin: 20px;

            p {

                width: 50%;
            }

            button {
                background-color: #28B6E5;
                border: 0;
                padding: 10px 10px;
                color: white;
            }
        }
    }
}

#ourAwesome {

    .ourAwesome {
        text-align: center;

        h3 {
            padding: 10px;
        }
p{
    width: 70%;
    margin: auto;
}

.webdesign{
   
    p{
        display: inline-block;
    }
}
    }
}

#imgDiv{

    .imgDiv{
        img{

            width: 100%;
            padding: 10px;
        }
    }
}

#ourHome{
    .ourHome{
        text-align: center;
        h3{
            
        }
        span{
           
            color: blue;
        }
        p{
            width: 70%;
            margin: auto;
        }
    }
}

#topPanel{

    .topPanel{
        img{
            width: 100%;
            
        }
    }
    p{
        background-color: #26B7E7;
        color: white;
        width: 100%;
        min-height: 50px;
        text-align: center;
    }
}